/* Import Font */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Header */

* {
  max-width: 100%;
  box-sizing: border-box;
}

.logo {
  width: 6.9rem;
  height: 6.9rem;
}

.logo-container {
  padding: 1% 0 0 4%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: .5rem;
  padding: 5% 5% 0 0;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  flex-grow: 1;
}

/* Main */

h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  font-weight: 500;
  padding: 0.8rem 0 0 1rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.8rem;
  font-weight: 450;
  line-height: 1.6rem;
  text-align: right;
  padding: 0rem 1rem 0 1rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1rem;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1fr;
  justify-content: center;
}

.tea-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 90%;
  max-width: 300px;
}

.tea-card h3 {
  margin-left: auto;
  padding-right: .8rem;
}

.tea-descriptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  gap: 1rem;
}

.tea-pictures {
  width: 50%;
  height: auto;
}

.tea-text {
  text-align: right;
}

/* Footer */

hr {
  width: 80%;
  margin-top: 3rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.footer-logo img {
  width: 1.5rem;
  height: 1.5rem;
}

.footer-socials a img {
  width: 1rem;
  height: 1rem;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-links a {
  font-family: 'Noto Sans', sans-serif;
  font-size: 0.5rem;
  text-decoration: none;
  color: black;
}

/* Media Queries */

@media (min-width: 768px) {
  .grid-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid-layout {
    grid-template-columns: repeat(4, 1fr);
  }
}